<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IGirish" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/MyPipeEndPoint" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IGirish" contract="GirishServiceReference.IGirish"
                name="NetNamedPipeBinding_IGirish">
                <identity>
                    <userPrincipalName value="AGLPUN-D0258\Girish" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>